<configuration>
    <property name="ORIGIN" value="${SERVICE_ORIGIN:-unknown}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <pattern>
                    <pattern>
                        {
                        "origin": "${ORIGIN}"
                        }
                    </pattern>
                </pattern>
                <loggerName/>
                <provider class="com.rvigo.logger.log.provider.CorrelationIdProvider"/>
                <pattern>
                    <pattern>
                        {
                        "tags": "#asJson{%mdc{tags}}"
                        }
                    </pattern>
                </pattern>
                <message/>
                <provider class="com.rvigo.logger.log.provider.DataJsonProvider"/>
                <provider class="com.rvigo.logger.log.provider.ThrowableJsonProvider"/>
            </providers>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>

